<!-- component -->
<header class="sticky top-0  z-50 w-full ">
    <nav class=" border-gray-200 px-4 lg:px-6 py-2.5  text-white bg-rojo">
        <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
            <a href="#" class="flex items-center cursor-default">
                <img [src]="envs.logoBlanco" class="mr-3 h-16 lg:h-16" alt="Flowbite Logo" />
                
            </a>
            <div class="flex items-center lg:order-2 ">
                <!-- component -->
                <div class="relative py-2 mr-4 cursor-pointer" (click)="openModal()">
                    <div class="t-0 absolute left-3">
                        <p class="flex h-2 w-2 items-center justify-center rounded-full bg-white p-3 text-xs text-red-500 font bold">{{getNproductos()}}</p>
                    </div>
                   
                    <app-icon-cart class="mt-4 block w-6 h-6"></app-icon-cart>
                </div>
                <div class="h-10 min-h-[1em] w-px    bg-white lg:hidden"></div>
                <button (click)="openMenuContent()" type="button" class="inline-flex items-center p-2 ml-1 text-sm text-white  lg:hidden hover:bg-rojo-hover" >
                    <i class="pi  pi-bars " style="font-size: 1.125rem"></i>
                </button>
            </div>
            <div class="hidden justify-between items-center w-full lg:flex lg:w-auto lg:order-1" id="mobile-menu-2">
                <ul class="flex flex-col items-center mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
                    <li>
                        <app-select-categorie></app-select-categorie>
                    </li>
                    <li>
                       <app-input-search></app-input-search>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

