<!-- <div class="block w-full">
    <select id="countries" class="h-10 border border-rojo-hover text-white text-base rounded-md block w-full py-1 px-1  bg-rojo-hover focus:outline-none" (change)="onCategoryChange($event)">
    <option selected>Escoge una categoria </option>
        @for (item of categoriasPapeleria; track item) {
            <option value={{item}}>{{item}}</option>
        }
    </select>
</div> -->
<p-select 
    [options]="categorias" 
    [(ngModel)]="selectedCategory" 
    optionLabel="name" 
    [filter]="true" 
    filterBy="name" 
    [showClear]="true" 
    placeholder="Selecciona una categoría" 
    class="w-full lg:w-64" 
    (onChange)="goCategory()">
    
    <ng-template #selectedItem let-selectedOption>
        <div class="flex items-center gap-2 ">
           
            <div class="truncate">{{ selectedOption.name }}</div>
        </div>
    </ng-template>
    
    <ng-template let-category #item>
        <div class="flex items-center gap-2">
            <div>{{ category.name }}</div>
        </div>
    </ng-template>
</p-select>
