<div class="rounded-md outline-1 outline outline-gray-200 shadow-sm bg-white  overflow-hidden max-w-52">
    <div class="h-max w-full border-gray-200 border-b   " >
      <a routerLink="/producto/example" class="">
        <img class="w-full object-contain aspect-square"  src="https://production-tailoy-repo-magento-statics.s3.amazonaws.com/imagenes/872x872/productos/i/c/u/cuad-dlx-80h-cdmax-sol-chiki-colleg-cele-66730004-default-1.jpg" alt="" />
      </a>
    </div>
    <div class="p-3">
      <p class="text-sm font-medium leading-none  h-[43px]  text-gray-900" style="display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      line-clamp: 3;
     overflow: hidden;">El Horizonte Eterno de la Brisa Nocturna que Abraza el Alma Inquieta Una</p>

      <div class="mt-2 flex items-center gap-1">

        <p class="text-sm font-medium text-rojo">Stock</p>
        <p class="text-sm font-medium text-rojo">(<span class="text-gray-900">455</span>)</p>
      </div>
      <div class="mt-3 flex items-center justify-between gap-4">
        <p class="text-xl font-semibold leading-tight text-rojo">
          <span class="mr-[-6px]">S</span>
          <span>／</span>
          <span>2135.18</span>
        </p>

      </div>
      <label for="quantity-input" class=" mt-3 mb-1 text-xs font-extralight text-rojo flex items-center gap-1">
        Agregar al <app-icon-cart class="h-5"></app-icon-cart>
      </label>
      <app-buttons-card></app-buttons-card>
    </div>
  </div>