<footer class="bg-rojo" >
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
          <div class="mb-6 md:mb-0">
              <a  class="flex items-center">
                  <img [src]="envs.logoBlanco" class="h-14 me-3" alt="Shoppers Logo" />
              </a>
          </div>
          <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
              <div class="sm:col-start-3 sm:cols-end-4 cols-start-1 cols-end-2">
                  <h2 class="mb-6 text-sm font-semibold uppercase text-white">Contáctanos</h2>
                  <ul class="text-white font-medium mb-4">
                    @for (item of contacts; track $index) {
                      <li >
                            <a href={{item.link}} class="hover:underline flex text-nowrap items-center " target="_blank" rel="noopener noreferrer">
                                <i class="pi pi-{{item.icon}} pr-1" ></i> {{item.label}}
                            </a>
                      </li>
                    }
                  </ul>
              </div>
          </div>
      </div>
      <hr class="my-6 border-white sm:mx-auto  lg:my-8" />
      <div class="sm:flex sm:items-center sm:justify-between">
          <span class="text-sm text-white">© {{year}} <a  class="hover:underline">{{envs.nombre}}</a>. Todos los Derechos Reservados.
          </span>
          <div class="flex mt-4  sm:mt-0 items-center text-white">
            @for (item of socialMedia; track item) {            
                <a href="https://angular.dev/" target="_blank" rel="noopener noreferrer" class="px-2 bg-transparent " >
                    <i class=" pi-{{item.icon}} pi text-xl" ></i>
                </a>  
                

            }
          </div>
      </div>
    </div>
</footer>

