<div class="bg-gray-50">
  <div class="container mx-auto px-4 py-8 max-w-screen-xl">
    <app-navigation></app-navigation>
    <div class="flex flex-wrap -mx-4">
      <!-- Product Images -->
      <div class="w-full md:w-1/2 sm:px-32 md:px-8 lg:px-14 mb-8 px-4">
        <img [src]="selectedImageUrl" alt="Product" class="w-full h-auto rounded-lg shadow-md mb-4 aspect-square object-contain">
        <!-- Miniaturas -->
        <div class="flex gap-4 py-4 justify-center overflow-x-auto flex-wrap">
          @for (item of producto?.imagenes; track $index) {
            <img 
              [src]="item.url" alt="Product" 
              class="shadow-2xl size-16 sm:size-20 object-cover rounded-md cursor-pointer opacity-60 transition duration-300"
              (click)="changeImage(item.url)" 
              [class.selectImg]="selectedImageUrl === item.url">
          }
        </div>
      </div>

      <!-- Product Details -->
      <div class="w-full md:w-1/2 px-4">
        <h2 class="text-3xl font-bold mb-2 text-black">{{producto?.nombre || 'Otro'}}</h2>
        <p class="text-gray-600 mb-4">REFERENCIA: {{producto?.codigo}}</p>
        <div class="mb-4">
          <span class="text-2xl font-bold mr-2 text-black">
            <span class="mr-0.5">S<span class="inline-block -rotate-12 -ml-0.5">&frasl;</span></span>
            <span>{{producto?.precio}}</span>
          </span>
        </div>
        <p class="text-gray-700">Disponibles ({{producto?.stock}})</p>

        <div class="flex space-x-4 mb-6">
          <label for="quantity-input" class="text-xs font-extralight text-rojo flex flex-col items-center">
            <div class="my-2">Agregar al <app-icon-cart class="ml-1"></app-icon-cart> </div>
            <app-buttons-card 
  [cantidad]="cantidadActual"
  (cantidadCambiada)="addToCart($event)" 
  [stock]="producto?.stock ?? 0">
</app-buttons-card>

          </label>
        </div>

        <div>
          <h3 class="text-lg font-semibold mb-2 text-black">Detalles:</h3>
          <ul class="list-disc list-inside text-gray-700">
            <li>Marca: {{producto?.marca?.nombre}}</li>
            <li>Categoría: {{producto?.categoria?.nombre}}</li>
            <li>Descripción: {{producto?.detalle}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<app-search-category [labelInput]="'Productos Relacionados'" ></app-search-category>
