<!-- component -->
<div class="flex h-full w-full relative" style="min-height: calc(100vh - 76px);">
    <img src="fondoCuadri.jpg" class="absolute  w-full h-full aspect-auto object-cover  " alt="">
   
    <!-- Right Pane -->
    <div class="w-full  lg:w-1/2 flex items-center justify-center  relative  ">
       
        <div class="relative  text-center px-10   rounded-lg" >
            <h1 class=" text-5xl text-rojo bg-white mb-6 font-extrabold w-max mx-auto shadow-text">Shoppers</h1>
            <span class=" font-bold text-xl text-black bg-white shadow-text ">
                En nuestra papelería encontrarás todo lo necesario para dar vida a tus ideas y organizar tu día con estilo. <br> ¡Haz que tu creatividad fluya!
            </span>
        </div>
      
    </div>
     <!-- Left Pane -->
     <div class="hidden lg:flex items-center justify-center lg:w-1/2 relative ">
       
        <img src="utiles4.png" class=" w-full h-full  aspect-square object-cover absolute  max-w-screen-xl " alt="Shoppers Logo" />
    </div>
  </div>
