<!-- component -->
<div class="bg-white">
    <div class="flex h-full max-w-screen-xl mx-auto relative" style="min-height: calc(100vh - 84px);">
        <img src="fondoCuadri.png" class="absolute  w-full h-full aspect-auto object-cover  " alt="">
    
        <!-- Right Pane -->
        <div class="w-full  lg:w-1/2 flex items-center justify-center gap-5  flex-col relative ">
        
            <!-- <div class="relative  text-center px-10   rounded-lg" >
                <h1 class=" text-5xl text-rojo bg-white mb-6 font-extrabold w-max mx-auto shadow-text">Shoppers</h1>
                <span class=" font-bold text-xl text-black bg-white shadow-text ">
                    En nuestra papelería encontrarás todo lo necesario para dar vida a tus ideas y organizar tu día con estilo. <br> ¡Haz que tu creatividad fluya!
                </span>
            </div> -->
            <img src="LOGO_SHOPPERS_2024-removebg.png" class="w-full p-4 sm:p-0 sm:w-1/2  object-contain   max-w-screen-xl " alt="Shoppers Logo" />
            <a href="https://angular.dev/" target="_blank" rel="noopener noreferrer" class="text-white  bg-rojo hover:bg-rojo-hover   font-medium rounded-md text-2xl px-4 py-2 cursor-pointer">
                Escribenos
            </a>
        </div>
        <!-- Left Pane -->
        <div class="hidden lg:flex items-center justify-center lg:w-1/2 relative ">
<!--         
            <img src="utiles4.png" class=" w-full h-full  aspect-square object-cover absolute  max-w-screen-xl " alt="Shoppers Logo" /> -->
        </div>
    </div>
</div>