*{
    --rojo:theme(colors.rojo);
    --rojo-hover:theme(colors.rojo-hover);
}
.p-select{
    --p-select-background:var(--rojo);
    --p-select-placeholder-color:white;
    --p-select-border-color:white;
    --p-select-hover-border-color:white;
    --p-select-focus-border-color:white;
    --p-select-color:white;
    --p-select-dropdown-color:white;
    --p-select-clear-icon-color:white;
    --p-select-option-color:black;
    --p-select-option-selected-color:white;

    --p-select-overlay-background:white;
    --p-select-overlay-border-color:var(--rojo);

    --p-select-option-focus-background:var(--rojo-hover);
    --p-select-option-focus-color:black;

    --p-select-option-selected-background:var(--rojo);
    --p-select-option-selected-color:white;
    --p-select-option-selected-focus-background:var(--rojo);
    --p-select-option-selected-focus-color:white;

    --p-inputtext-background:white;
    --p-inputtext-border-color:var(--rojo);
    --p-inputtext-color:black;
    --p-inputtext-hover-border-color:var(--rojo);
    --p-inputtext-focus-border-color:var(--rojo);
    --p-iconfield-icon-color:var(--rojo);

    --p-select-checkmark-color:var(--rojo);

   
}

.p-inputtext{
    --p-inputtext-background:white;
    --p-inputtext-border-color:var(--rojo);
    --p-inputtext-hover-border-color:var(--rojo);
    --p-inputtext-focus-border-color:var(--rojo);
    --p-inputtext-color:black;
    --p-inputtext-placeholder-color:gray;
}