<div class="flex items-start gap-4">
  <div>

    <div class="max-w-full p-2 bg-white border border-gray-200 rounded-lg shadow-sm flex flex-wrap mb-2">
        @for (item of estados; track $index) {
            <span class="flex items-center text-sm font-medium text-gray-900  me-3 gap-1">
              <i class="pi pi-circle-on" [style.color]="colores[item.id]"></i>
              {{item.nombre}}
            </span>
        }
    </div>
    
   
    <div class="relative  shadow-md sm:rounded-lg">
    
        <div class="flex items-center justify-between flex-column md:flex-row flex-wrap space-y-4 md:space-y-0 py-4 bg-white px-2 gap-2">
            <div class="flex items-center gap-2">
                <p-datepicker [(ngModel)]="date"  [maxDate]="maxDate" [readonlyInput]="true" [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay" class="w-48" dateFormat="dd/mm/yy" placeholder="Ingrese fecha" [showButtonBar]="true"/>
    
                <p-select [options]="estados" [(ngModel)]="selectedEstado" [checkmark]="true" optionLabel="nombre" [showClear]="true" placeholder="Selecciona" class="w-full md:w-48" />
            </div>
            <div class="flex items-center gap-2">
                <p-floatlabel variant="on">
                    <input pInputText id="on_label" [(ngModel)]="value" autocomplete="off"  />
                    <label for="on_label">Búsqueda por dni o contacto</label>
                </p-floatlabel>
                <p-button label="Buscar"  [raised]="true" severity="danger" [rounded]="true"  (onClick)="search()"/>
                @if (selectedPedidos.length>0) {
                <p-button label="Cambiar a " (onClick)="showDialog()"/>
                }
            </div>
        </div>
         @if (pedidos.length>0) {
        <p-table #dt
              showGridlines 
              [value]="pedidos" 
              [tableStyle]="{'max-width': '100%'}" 
              [rows]="pageSize" 
              [paginator]="true"  
              [rowsPerPageOptions]="[5, 10, 15]"  
              [totalRecords]="totalRecords" 
              (onLazyLoad)="loadCustomers($event)"
    
              [lazy]="true"
    
              [(selection)]="selectedPedidos" dataKey="id"
            >
        
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
            @for (item of headers; track $index) {
              <th>{{item}}</th>
            }
          </tr>
        </ng-template>
    
        <ng-template pTemplate="body" let-pedido>
          <tr>
            <td>
              <p-tableCheckbox [value]="pedido" />
            </td>
            <td>{{ pedido.id }}</td>
            <td>{{ pedido.dni }}</td>
            <td>{{ pedido.contacto }}</td>
            <td>{{ pedido.fecha | date: 'dd/MM/yyyy' }}</td>
            <td>{{ pedido.hora }}</td>
            <td>{{ pedido.total }}</td>
            <td>
              <i class="pi pi-circle-on" [style.color]="colores[pedido.idestado]"></i>
            </td>
            <td>
              <div class="text-rojo cursor-pointer flex justify-center" (click)="verDetalles(pedido)">
                <i class="pi pi-list" style="font-size:1.25rem;font-weight:bolder;"></i>
              </div>
            </td>
          </tr>
        </ng-template>
    
        </p-table>
        }@else{
          <p class="px-2 py-4">No hay registros de pedidos...</p>
        }
    </div>
    
  </div>
  
  @if (pedidoRefer) {
    <div class="w-[1024px] p-2 bg-white border border-gray-200 rounded-lg shadow-sm flex flex-wrap mb-2">

      <div class="flex items-center justify-between mb-8 flex-wrap gap-1">
          <div class="flex items-center">
              <img class="h-12 w-auto mr-2" [src]="envs.logoRojo" alt="Logo" />
          </div>
          <div class="text-gray-700">
              <div class="font-bold text-xl mb-2">Detalles de Pedido</div>
              <div class="text-sm">Operación #{{pedidoRefer.id}}</div>
              <div class="text-sm">Fecha: {{pedidoRefer.fecha| date: 'dd/MM/yyyy'}}</div>
              <div class="text-sm">Hora: {{ pedidoRefer.hora  }}</div>
              <div class="text-sm">Dni: {{ pedidoRefer.dni  }}</div>
              <div class="text-sm">Contacto: {{ pedidoRefer.contacto  }}</div>
              <div class="text-sm">Total: {{ pedidoRefer.total  }}</div>
          </div>
      </div>
      <p-table 
              showGridlines 
              [value]="pedidoRefer.detalles" 
              [tableStyle]="{'max-width': '100%'}" 
              [rows]="pageSize" 
              [paginator]="true"  
              [rowsPerPageOptions]="[5, 10, 15]"  
              [totalRecords]="pedidoRefer.detalles.length" 
 
            >
        
        <ng-template pTemplate="header">
          <tr>
            @for (item of headersDetalles; track $index) {
              <th [style.width]="item==='Nombre'?'60%':'4rem'">{{item}}</th>
            }
          </tr>
        </ng-template>
    
        <ng-template pTemplate="body" let-detalle>
          <tr>
            <td>{{ detalle.producto.codigo }}</td>
            <td class="w-[20rem]  block ">{{ detalle.producto.nombre }}</td>
            <td>{{ detalle.precio }}</td>
            <td>{{ detalle.cantidad }}</td>
            <td>{{ detalle.subtotal }}</td>
          </tr>
        </ng-template>
    
          </p-table>
    </div>
  }
</div>

<p-dialog header="Actualizar Estado de pedidos" [position]="position" [modal]="true" [(visible)]="visibleModal" [style]="{ width: '25rem',height:'30rem' }">
       
        <div class="flex flex-col gap-4 mb-4">
            <label for="username" class="font-semibold w-24 text-nowrap">Estados de pedidos:</label>
            <p-select [options]="estados" [(ngModel)]="estadoParaActualizarPedido" [checkmark]="true" optionLabel="nombre" [showClear]="true" placeholder="Selecciona" class="w-full md:w-48" />
        </div>

        <div class="flex justify-end gap-2 absolute bottom-4 right-4">
            <p-button label="Cancelar" severity="secondary" (click)="showDialog()" />
            <p-button label="Actualizar" (click)="actualizarPedido()" />
        </div>
</p-dialog>
<p-toast />



