<div class="w-full border-t border-gray-200 bg-white py-3 px-2">
  <div class="flex flex-col items-center justify-between sm-420:flex-row gap-1">
    <div>
      <p class="text-sm text-gray-700">
        Mostrando
        <span class="font-medium">{{ getStartIndex() }}</span>
        a
        <span class="font-medium">{{ getEndIndex() }}</span>
        de
        <span class="font-medium">{{ totalItems }}</span>
        resultados
      </p>
    </div>
    <div>
      <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">
        <!-- Inicio -->
        <button
          (click)="onPageChange(1)"
          class="relative inline-flex items-center p-2 rounded-l-md text-rojo ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
          [disabled]="currentPage === 1">
          <i class="pi pi-angle-double-left"></i>
        </button>

        <!-- Anterior -->
        <button
          (click)="onPageChange(currentPage - 1)"
          class="relative inline-flex items-center p-2 text-rojo ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
          [disabled]="currentPage === 1">
          <i class="pi pi-angle-left"></i>
        </button>

        <!-- Número -->
        <input
          type="number"
          [(ngModel)]="inputValue"
          (change)="onPageChange(inputValue)"
          [min]="1"
          [max]="totalPages"
          class="block w-14 text-center p-2 text-sm border-rojo bg-rojo text-white"
          placeholder="Página" />

        <!-- Siguiente -->
        <button
          (click)="onPageChange(currentPage + 1)"
          class="text-rojo relative inline-flex items-center p-2 ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
          [disabled]="currentPage === totalPages">
          <i class="pi pi-angle-right"></i>
        </button>

        <!-- Final -->
        <button
          (click)="onPageChange(totalPages)"
          class="relative inline-flex items-center rounded-r-md p-2 text-rojo ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
          [disabled]="currentPage === totalPages">
          <i class="pi pi-angle-double-right"></i>
        </button>
      </nav>
    </div>
  </div>
</div>
