<form>
    <div class="relative flex items-center justify-center text-white">
      <button type="button" (click)="update(-1)" class="bg-rojo hover:bg-rojo-hover rounded-s-md p-2 h-7 sm-360:h-8" [disabled]="cantidad<=1">
        <i class="pi pi-minus"></i>
      </button>
      <input type="number" [(ngModel)]="cantidad" (change)="update()" name="algo" class="bg-white border-x-0 border-gray-200 h-7 sm-360:h-8 text-center text-black text-sm w-10 font-medium border focus:outline-none" placeholder="100" [value]="cantidad" required min="0" />
      <button type="button" (click)="update(1)" class="bg-rojo hover:bg-rojo-hover rounded-e-md p-2 h-7 sm-360:h-8" [disabled]="cantidad>=stock">
        <i class="pi pi-plus"></i>
      </button>
    </div>
  </form>
  