<nav class="flex text-rojo" aria-label="Breadcrumb">
      <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse cursor-none">
        <li class="inline-flex items-center">
          <div (click)="goHome()" class="cursor-pointer inline-flex items-center text-sm font-medium hover:text-primary-600 ">
            <i class="pi pi-home mr-2" ></i>
            
            <span class="hidden sm-420:inline">Inicio</span>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <i class="pi pi-angle-right "></i>

            <div  class="ms-1 text-sm font-medium  hover:text-primary-600  md:ms-2 cursor-default ">{{seccion}}</div>
          </div>
        </li>

      </ol>
</nav>

