<nav class="flex text-rojo" aria-label="Breadcrumb">
      <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse cursor-none">
        <li class="inline-flex items-center">
          <div (click)="goHome()" class="cursor-pointer inline-flex items-center text-sm font-medium hover:text-primary-600 ">
            <i class="pi pi-home mr-2" ></i>
            
            <span class="hidden sm-420:inline">Inicio</span>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <i class="pi pi-angle-right "></i>

            <div  class="ms-1 text-sm font-medium  hover:text-primary-600  md:ms-2 cursor-default ">{{seccion}}</div>
          </div>
        </li>
        <!-- <li aria-current="page" class="cursor-default">
          <div class="flex items-center">
            <svg class="h-5 w-5  rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7" />
            </svg>
            <span class="ms-1 text-sm font-medium md:ms-2">{{categoryId}}</span>
          </div>
        </li> -->
      </ol>
</nav>

