<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Código
                </th>
                <th scope="col" class="px-6 py-3">
                    Nombre
                </th>
                <th scope="col" class="px-6 py-3">
                    Opciones
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b border-gray-200">
                <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                    UTL001
                </td>
                <td class="px-6 py-4">
                    Lápiz HB
                </td>
                <td class="px-6 py-4">
                    <a href="#" class="font-medium text-blue-600 hover:underline">Ver imágenes</a>
                </td>
            </tr>
            <tr class="bg-white border-b border-gray-200">
                <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                    UTL002
                </td>
                <td class="px-6 py-4">
                    Cuaderno rayado
                </td>
                <td class="px-6 py-4">
                    <a href="#" class="font-medium text-blue-600 hover:underline">Ver imágenes</a>
                </td>
            </tr>
            <tr class="bg-white border-b border-gray-200">
                <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                    UTL003
                </td>
                <td class="px-6 py-4">
                    Estuche de marcadores
                </td>
                <td class="px-6 py-4">
                    <a href="#" class="font-medium text-blue-600 hover:underline">Ver imágenes</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
