/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
:root{
  --rojo:#ed1c24;
  --rojo-hover:#f48c74;
}
@font-face {
  font-family: 'Poppins';
  src: url('../public/Poppins/Poppins-Regular.ttf');
}

*{
  font-family: 'Poppins';
}