<li   class="flex py-6 w-full items-center gap-1 " style="scroll-snap-align: center;">
  <div routerLink="/producto/{{getSlug(item.producto.nombre)}}" class="cursor-pointer size-28 shrink-0 overflow-hidden rounded-md border border-gray-200">
    <img [src]="selectedUrl" [alt]="item.producto.nombre" class="size-full object-contain">
  </div>

  <div class="flex flex-col w-full h-[110px] justify-between">
    <div class="grid grid-cols-[1fr,10px,24px] text-base font-medium text-gray-900 w-full">
      <h3 class="text-sm leading-4 line-clamp-2 overflow-hidden">{{ item.producto.nombre }}</h3>
      <button type="button" class="text-rojo hover:rojo-hover col-start-3" (click)="removeToCart()">
        <i class="pi pi-times" style="font-size: 1.25rem;"></i>
      </button>
    </div>

    <div class="flex flex-col sm-360:flex-row justify-between items-center text-base font-medium text-gray-900">
      <p class="text-rojo">
        <span class="text-xs">precio: </span>
        <span class="text-base font-medium text-nowrap">
          <span class="mr-0.5">S<span class="inline-block -rotate-12 -ml-0.5">&frasl;</span></span>
          <span>{{ item.producto.precio| number:'1.2-2' }}</span>
        </span> 
      </p>
      <app-buttons-card
        [cantidad]="cantidadActual"
        (cantidadCambiada)="addToCart($event)"
        [stock]="item.producto.stock">
      </app-buttons-card>

    </div>
    <p class="text-gray-900"> 
      <span class="text-xs">subtotal: </span>  
      <span class="text-base font-medium text-nowrap">
        <span class="mr-0.5">S<span class="inline-block -rotate-12 -ml-0.5">&frasl;</span></span>
        <span>{{ item.subtotal| number:'1.2-2' }}</span>
      </span> 
    </p>
  </div>
</li>


<p-toast position="center"></p-toast>
<p-confirmdialog key="positionDialog" [position]="position" />