<form class="max-w-md mx-auto lg:ml-1.5" (submit)="onClickSearch()" [formGroup]="miFormulario">   
    <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only">Search</label>
    <div class="relative">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none text-rojo">
            <i class="pi pi-search "></i>
        </div>
        <input type="search" id="default-search" formControlName="search" class="block w-full lg:w-64  p-3 ps-10 text-sm font-bold  rounded-lg bg-white text-rojo  focus:border-rojo-hover border-2 outline-none placeholder:text-rojo placeholder:font-light" placeholder="Buscar productos" required />
        <button type="submit" class="text-white absolute end-2 bottom-2 bg-rojo hover:bg-rojo-hover   font-medium rounded-lg text-sm px-3 py-1.5 cursor-pointer" >Buscar</button>
    </div>
</form>
